@page
@model farhaproject1.Pages.AdminUnit.AddNewHallModel
@{
    ViewData["Title"] = "AddNewHall";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/style.css" />

</head>


<section class="ftco-section bg-secondary pt-2" id="rsvp-section">

    <div class="container ">
        <div class="row justify-content-center pb-5 ">
            <div class="col-md-12 text-center heading-section">

                <h2 class="mb-3" style="color:#f58499;">Add New Hall</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">

                <form method="post" enctype="multipart/form-data" class="rsvp-form ">

                    <input type="hidden" asp-for="userid" />
                    <input type="hidden" asp-for="HallInformation.Id" />
                    <div class="">
                        <div class="form-group">
                            <input type="text" asp-for="HallInformation.HallName" class="form-control" placeholder="Name">
                            <p asp-validation-for="HallInformation.HallName" class="text-danger"> </p>
                        </div>
                        <div class="form-group">
                            <input type="text" asp-for="HallInformation.Description" class="form-control" placeholder="Description">
                            <p asp-validation-for="HallInformation.Description" class="text-danger"> </p>
                        </div>
                        <div class="form-group">
                            <input type="text" asp-for="HallInformation.Size" class="form-control" placeholder="Size">
                            <p asp-validation-for="HallInformation.Size" class="text-danger"> </p>
                        </div>
                        <div class="form-group">
                            <input type="text" asp-for="HallInformation.Price" class="form-control" placeholder="Price">
                            <p asp-validation-for="HallInformation.Price" class="text-danger"> </p>
                        </div>

                        <div class="form-group">

                            <input type="file" asp-for="img" class="form-control" />


                            <p>Add Multiple photo</p>

                            <input type="file" asp-for="imgf" class="form-control" />


                            <button type="submit" asp-page-handler="AddNewPhoto" class="btn btn-success form-control mt-3" style="width:60px;">
                                Add
                            </button>
                        </div>

                        <div class="form-group float-right">
                            <input type="submit" asp-page-handler="Create" class="btn btn-info py-3 px-5 mr-1" value="Create" />
                        </div>

                        <div class="form-group ">
                            <a asp-page="Index" class="btn btn-primary py-3 px-5 mr-5" value="Back"> Back </a>
                        </div>



                    </div>
                </form>
            </div>
        </div>
    </div>

</section>
